<ion-header>
  <ion-navbar>
    <ion-title>
      Indication
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="currentProperty">
      <ion-col>
        <div>
          <p><b>Лицевой счет:</b></p>
          <span>{{currentProperty.personalAccount}}</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p><b>Адрес:</b></p>
          <span>ул. {{currentProperty.street}} {{currentProperty.building}}, {{currentProperty.flat}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let device of devices">

    <ion-card-content>
      <p>
        <b>Прибор: </b>
        <span>{{device.deviceId}}</span>
      </p>
      <p>
        <b>Дата поверки: </b>
        <span>{{device.checkDate | date: 'dd.MM.yy'}}</span>
      </p>
      <p>
        <b>Показание: </b>
        <span>{{device.indication | number}}</span>
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button block color="danger" (click)="showHistory(device.deviceId)">
          История
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
