<ion-header>
  <ion-navbar>
    <ion-title>
      Indication History
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="currentProperty">
      <ion-col>
        <div>
          <p><b>Лицевой счет:</b></p>
          <span>{{currentProperty.personalAccount}}</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p><b>Адрес:</b></p>
          <span>ул. {{currentProperty.street}} {{currentProperty.building}}, {{currentProperty.flat}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button block (click)="openIndicationSendModal()">Отправить показания</button>

  <ion-card *ngFor="let indication of history">

    <ion-card-content>
      <p>
        <b>Источник: </b>
        <span>{{indication.source}}</span>
      </p>
      <p>
        <b>Дата: </b>
        <span>{{indication.date | date: 'dd.MM.yy'}}</span>
      </p>
      <p>
        <b>Показание: </b>
        <span>{{indication.readings | number}}</span>
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
