<ion-header>
    <ion-navbar>
        <ion-title>Property</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Personal Account</ion-label>
            <div item-content>
                <span>{{property.personal_account}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Building Index</ion-label>
            <div item-content>
                <span>{{property.building_index}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Living Area</ion-label>
            <div item-content>
                <span>{{property.living_area}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Street</ion-label>
            <div item-content>
                <span>{{property.street}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Street Number</ion-label>
            <div item-content>
                <span>{{property.street_number}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Property Number</ion-label>
            <div item-content>
                <span>{{property.property_number}}</span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(property)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
