<ion-header>
    <ion-navbar>
        <ion-title>Property</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <p>Введите лицевой счет и сумму оплаты на последней квитанции.</p>
        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Лицевой счет" formControlName="personal_account"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Сумма последней квитанции" formControlName="last_payment"></ion-input>
            </ion-item>

            <!--<ion-item [hidden]="!form.id">
              <ion-label>ID</ion-label>
              <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Building Index" formControlName="building_index"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Living Area" formControlName="living_area"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Street" formControlName="street"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Street Number" formControlName="street_number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Property Number" formControlName="property_number"></ion-input>
            </ion-item>-->
        </ion-list>
    </form>

    <p>Или отсканируйте QR код.</p>

    <div padding>
      <button ion-button icon-start color="primary" block>
        <ion-icon name="qr-scanner"></ion-icon>
        Сканировать
      </button>
    </div>
</ion-content>
