<ion-header>
    <ion-navbar>
        <ion-title>Properties</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let property of properties; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(property)">
                <p>{{property.personal_account}}</p>
                <p>{{property.building_index}}</p>
                <p>{{property.living_area}}</p>
                <p>{{property.street}}</p>
                <p>{{property.street_number}}</p>
                <p>{{property.property_number}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, property)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(property)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!properties?.length">
        No Properties found.
    </ion-item>
</ion-content>
