<ion-header>
  <ion-navbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="currentProperty">
      <ion-col>
        <div>
          <p><b>Лицевой счет:</b></p>
          <span>{{currentProperty.personalAccount}}</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p><b>Адрес:</b></p>
          <span>ул. {{currentProperty.street}} {{currentProperty.building}}, {{currentProperty.flat}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let bill of billHistory">

    <ion-card-content>
      <p>
        <b>Дата: </b>
        <span>{{bill.date | date: 'MMM dd'}}</span>
      </p>
      <p>
        <b>Начислено: </b>
        <span>{{bill.accruedSum | number}}</span>
      </p>
      <p>
        <b>Корректировка: </b>
        <span>{{bill.adustmentSum | number}}</span>
      </p>
      <p>
        <b>Оплата: </b>
        <span>{{bill.paymentSum | number}}</span>
      </p>
      <p>
        <b>Сальдо: </b>
        <span>{{bill.saldo | number}}</span>
      </p>
    </ion-card-content>

  </ion-card>

  <ion-list>

    <!--<ion-item *ngFor="let entity of entities" (click)="openPage(entity)">
      <h2>{{entity.name}}</h2>
    </ion-item>-->
  </ion-list>
</ion-content>
