<ion-header>
  <ion-navbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="currentProperty">
      <ion-col>
        <div>
          <p><b>Лицевой счет:</b></p>
          <span>{{currentProperty.personalAccount}}</span>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p><b>Адрес:</b></p>
          <span>ул. {{currentProperty.street}} {{currentProperty.building}}, {{currentProperty.flat}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let payment of paymentHistory">

    <ion-card-content>
      <p>
        <b>Дата платежа: </b>
        <span>{{payment.date | date: 'MMM dd'}}</span>
      </p>
      <p>
        <b>Банк: </b>
        <span>{{payment.bankKassa}}</span>
      </p>
      <p>
        <b>Общай сумма: </b>
        <span>{{payment.sum | number}}</span>
      </p>
    </ion-card-content>

  </ion-card>

  <ion-list>

    <!--<ion-item *ngFor="let entity of entities" (click)="openPage(entity)">
      <h2>{{entity.name}}</h2>
    </ion-item>-->
  </ion-list>
</ion-content>
