<ion-tabs [selectedIndex]="getSelectedIndex()">
  <!--<ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="menu"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="cog"></ion-tab>-->
  <ion-tab [root]="tabHome" [tabTitle]="tabHomeTitle" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabPayment" [tabTitle]="tabPaymentTitle" tabIcon="cash"></ion-tab>
  <ion-tab [root]="tabIndication" [tabTitle]="tabIndicationTitle" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tabAccrual" [tabTitle]="tabAccrualTitle" tabIcon="pulse"></ion-tab>
  <!--<ion-tab [root]="tabApplication" [tabTitle]="tabApplicationTitle" tabIcon="hammer"></ion-tab>-->
</ion-tabs>
