<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Welcome, {{account?.firstName}}!
    </ion-title>
    <!--<ion-buttons end>
      <button ion-button (click)="logout()" id="logout">
        Logout
      </button>
    </ion-buttons>-->

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge *ngIf="properties && properties.length > 1">
    <button ion-fab color="danger" mini><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list>
<!--      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>-->

      <button ion-fab *ngFor="let property of properties" (click)="setCurrentProperty(property)">
        {{ property.building }}
      </button>

    </ion-fab-list>
  </ion-fab>

  <!--<p>{{ 'WELCOME_INTRO' | translate }}</p>-->
  <ion-card *ngIf="account">
    <ion-card-header>
      {{account.shortName}}
    </ion-card-header>
    <ion-card-content>
      <p>
        <span>ИИН: </span><span>{{account.login || 'не найдено'}}</span>
      </p>
      <div *ngIf="currentProperty">
        <p>
          <span>Адрес: </span><span>ул. {{currentProperty.street}} {{currentProperty.building}}, {{currentProperty.flat}}</span>
        </p>
        <p>
          <span>Лицевой счет: </span><span>{{currentProperty.personalAccount}}</span>
        </p>
        <p *ngIf="billingInfo">
          <span>Сумма к оплате: </span><span>{{billingInfo.saldo}}</span>
        </p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="primary" mini (click)="addProperty()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <!--<span class="hipster"></span>-->
</ion-content>
