<ion-header>
    <ion-navbar>
        <ion-title>Region</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Code</ion-label>
            <div item-content>
                <span>{{region.code}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Ru</ion-label>
            <div item-content>
                <span>{{region.ru}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Kk</ion-label>
            <div item-content>
                <span>{{region.kk}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>En</ion-label>
            <div item-content>
                <span>{{region.en}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Is Deleted</ion-label>
            <div item-content>
                <span>{{region.isDeleted}}</span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(region)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
