<ion-header>
    <ion-navbar>
        <ion-title>Regions</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let region of regions; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(region)">
                <p>{{region.code}}</p>
                <p>{{region.ru}}</p>
                <p>{{region.kk}}</p>
                <p>{{region.en}}</p>
                <p>{{region.isDeleted}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, region)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(region)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!regions?.length">
        No Regions found.
    </ion-item>
</ion-content>
